---
name: Build Image

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
        contents: read
        packages: write

    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Metadata
        uses: docker/metadata-action@v5
        id: metadata
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=sha

      - name: Build Container Image
        uses: docker/build-push-action@v5
        with:
          context: "."
          file: Dockerfile
          labels: ${{ steps.metadata.outputs.labels }}
          platforms: linux/arm64,linux/amd64
          push: "${{
              github.event_name != 'pull_request' &&
              github.ref == 'refs/heads/main'
            }}"
          tags: ${{ steps.metadata.outputs.tags }}
