---
name: Lint
on:
 push:
   branches:
     - main
     - renovate/**
 pull_request:
   branches:
     - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: earthly/actions-setup@v1.0.13
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          # renovate: datasource=docker depName=earthly/earthly
          version: "v0.8.16"
      - uses: actions/checkout@v6
      - name: Earthly Lint
        env:
          EARTHLY_CI: true
        run: earthly +lint
